.service {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}
.container-service {
    background-color: white;
   
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}
.header-service {
    background-color: #003399;
    color: white;
    padding: 80px;
    text-align: center;
    position: relative;
}
.header-service h1 {
    color: #ff9900;
    font-size: 50px;
    margin: 10px 0 10px 100px;
    padding-top: 40px;
}
.header-service p {
    margin: 0;
    font-size: 20px;
    max-width: 800px;
    margin-left: 430px;
}
.content-service {
    display: flex;
    padding: 20px;
    position: relative;
    flex-direction: row;
}
.content-service img {
    max-width: 25%;
    height: 25rem;
    position: absolute;
    top: -60px;
    left: 20px;
}
.content-service .text-service {
    max-width: 800px;
    margin-left: 450px;
}
.content-service .text-service h2 {
    color: #ff9900;
    font-size: 30px;
    margin: 0 0 10px 0;
}
.content-service .text-service p {
    font-size: 23px;
    color: #333;
    line-height: 1.6;
}
@media (max-width: 430px ) {
    .header-service h1 {   
        font-size: 30px;
        padding-top: 40px;
    }
    .header-service p {
        font-size: 10px;
        max-width: 600px;
        margin-left: 200px;
    }
    .content-service img {
        max-width: 100%;
        height: 100%;   
    }
  
    .content-service .text-service h2 {
        color: #ff9900;
        font-size: 20px;
        margin: 0 0 10px 0;
    }
    .content-service .text-service p {
        font-size: 12px;
        color: #333;
        line-height: 1.6;
    }

}

@media (max-width: 600px) {
    .content-service {
        flex-direction: column;
        padding: 20px 20px 0 20px;
    }
    .header-service h1, .header-service p {
        margin-left: 0;
    }
    .header-service h1 {
        margin-top: 0;
    }
    .header-service img {
        max-width: 150px;
        position: relative;
        top: 0;
        left: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .content-service img {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 auto;
    }
    .content-service .text-service {
        margin-left: 0;
        margin-top: 20px;
        padding: 0 20px 20px 20px;
    }
}

.container-fluid-serve img{
    width: 30%;
}
.container-fluid-serve .logo{
    height: 50%;
    width: 20%;

}



/* tab css */

.info-tabs {
    display: flex;
    justify-content: space-around;  
    color: white;
    padding: 10px 0;
}

.tab-button {
    width: 20%;
    height: 5rem;
    background: none;
    border: 5px solid white;
    color: white;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 7px;
    transition: background-color 0.3s, border-color 0.3s;
}

.tab-button.active {
    background-color: #ff5e00;
    border-color: #ff5e00;
}
.tab-button{
    background-color: #003399;
    border-radius: 15px;
}

.tab-button:hover {
    background-color: #0055ff;
    border-color: #0055ff;
}

.tab-content {
    padding: 20px;
    background-color: #f5f5f5;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.tab ul {
    list-style: none;
    padding: 0;
}

.tab ul li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.tab ul li:before {
    position: absolute;
    left: 0;
    color: #0033cc;
}

.columns .logo img {
    width: 24px; /* Adjust the size of the image */
    height: 24px;
    margin-right: 10px;
    margin-left: 10px;
  
}

.columns {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }
  
  .columns ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 50%;
  }
  .columns li{
    height: 50px;
  }
  
  .columns::before {
    content: '';
    border-left: 2px solid;
   
    height: auto;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
  }
  
  .tab-content {
    position: relative;
    font-size: 1.25rem;
  }
  


  .columns1 li{
    height: 15px;
  }
  
  

  
